@font-face {
    font-family: skv;
    src: url(fonts/SukhumvitSet-Light.ttf);
}

@font-face {
    font-family: skvb;
    src: url(fonts/SukhumvitSet-SemiBold.ttf);
}

@font-face {
    font-family: SFPro;
    src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: skv;
}

#wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#menu {


    width: 1440px;
    height: 90px;

    box-shadow: 0px -1px 21.1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 50px 50px;

    display: flex;
    align-items: center;

    z-index: 999999;
}

#menu {
    position: fixed;
    background-color: #FFFFFF;
}


#logobutton-con {

    width: 236px;
    height: 50px;
    margin-left: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    padding-left: 14px;

}

#icon-ph {
    display: none;
}

#regis {

    width: 118px;
    height: 50px;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    margin-left: 6px;

    color: #FFFFFF;


    background: #787AFF;
    border-radius: 100px;

}

#logo {
    height: 49px;
    width: 214.03px;
    margin-left: 47px;
    background-image: url(pics/logo-menu.png);
}

#text {
    display: flex;
    align-items: center;
    margin-left: 37px;

    font-weight: 400;
    font-size: 24px;
}

#text p {
    margin-right: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchInputWrapper {
    position: relative;
    display: flex;
}

.searchInputWrapper {
    position: relative;
    display: flex;
}

.searchInput {
    width: 250px;
    /* Updated for a wider search box */
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    /* Softer shadow */
    border-radius: 30px;
    /* Rounded corners similar to the image */
    padding-left: 20px;
    font-size: 16px;
    border: none;
    /* Removes border */
}

::placeholder {
    color: #a1a1a1;
}

.searchInput:focus {
    outline: none;
}

.searchInputIcon {
    position: absolute;
    right: 20px;
    /* Position icon on the right */
    top: 50%;
    transform: translateY(-50%);
    color: #6c63ff;
    /* Color to match the purple icon in the screenshot */
    font-size: 18px;
    /* Adjusted size */
}


.post {
    width: 100%;
    height: 458px;

    float: left;
    margin-top: 90px;
    display: flex;

}

#post-box {
    width: 1300px;
    height: 287px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.profile-section {
    width: 100%;
    height: 157px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.profile-pic {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-section input {
    width: 1108px;
    height: 72px;
    border-radius: 50px;
    border: 1px solid #A9A9A9;
    background: #FFF;

}

.post-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    outline: none;
}

.upload-options {
    width: 100%;
    display: flex;
    padding: 25px 0;
    margin-left: 59px;
}

.upload-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #787aff;
    margin-left: 15px;
    cursor: pointer;

}

.upload-button p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.upload-button span {
    font-size: 20px;
    margin-right: 5px;
}

.post-button {
    margin-left: 820px;
    width: 103px;
    height: 52px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #787aff;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    outline: none;
}

#vdo-tu-box {
    display: flex;
    overflow-x: scroll;
    /* width: 100%; */
    /* height: 486px; */
    overflow-y: hidden;
    margin-top: 49px;
    margin-left: 50px;
    gap: 20px;

}

#vdo-tu-box::-webkit-scrollbar {
    display: none;
    /* สำหรับ Chrome, Safari และ Edge */
}


.for-you {
    width: 100%;
    height: 487px;
    float: left;
}

.for-you #text-header {
    margin-top: 0;
}

.for-you p1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 70px;
}

#fu-song {
    margin-top: 18px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}


#fu-song1 {
    height: 364px;
    width: 291px;
    flex-direction: column;
    margin-left: 70px;
}





#fu-song2,
#fu-song3,
#fu-song4,
#fu-song5 {
    height: 364px;
    width: 291px;
    margin-left: 23px;
    flex-direction: column;
}

#fu-song1 p2,
#fu-song2 p2,
#fu-song3 p2,
#fu-song4 p2,
#fu-song5 p2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 410;
    line-height: normal;
}

#fu-song1 p3,
#fu-song2 p3,
#fu-song3 p3,
#fu-song4 p3,
#fu-song5 p3 {
    color: #000;
    font-size: 16px;
    font-weight: 270;
    margin-top: 11px;
}

#fu-song::-webkit-scrollbar {
    display: none;
    /* สำหรับ Chrome, Safari และ Edge */
}

#text-header {
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#arrow {
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: auto;
    align-items: center;
}

.your-playlist {
    width: 100%;
    height: 554px;
    float: left;
    flex-direction: column;
}


.your-playlist p1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-left: 70px;
}

.top {
    height: 1563px;
    width: 100%;
    background-image: url(ct-pics/bg-top.png);
}

#yp-content {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

#yp-colum-l,
#yp-colum-r {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yp-l-1,
#yp-r-1 {
    width: 640px;
    height: 111px;
    border-radius: 15px;
    border: 1px solid #C6C6D5;
    background: #E8E8F4;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#yp-l-1 img {
    width: 111px;
    height: 111px;
    border-radius: 15px;
}
#yp-l-1:hover{
background-color: #787AFF;

}
#yp-l-1:hover .text-container p2,
#yp-l-1:hover .text-container p3 {
    color: #FFFFFF; /* สีขาว */
}
#yp-l-1 .text-container:hover{
    color: #fff;
}
#yp-r-1:hover{
background-color: #787AFF;

}
#yp-r-1:hover .text-container p2,
#yp-r-1:hover .text-container p3 {
    color: #FFFFFF; /* สีขาว */
}
#yp-l-1 .text-container:hover{
    color: #fff;
}

#yp-l-1 p2,
#yp-l-1 p3 {
    margin: 0;
}

#text a {
    color: #000;
    text-decoration: none;
  }
  #text {
    text-decoration: none;
  }

#yp-l-1 .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 41px;
}

#yp-l-1 p2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#yp-l-1 p3 {
    color: #5F5F5F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#yp-colum-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

#yp-r-1 {
    width: 640px;
    height: 111px;
    border-radius: 15px;
    border: 1px solid #C6C6D5;
    background: #E8E8F4;
    margin-bottom: 20px;
    /* เพิ่มระยะห่างระหว่างแต่ละบล็อก */
    display: flex;
    align-items: center;
}

#yp-r-1 img {
    width: 111px;
    height: 111px;
    border-radius: 15px;
}

#yp-r-1 .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 41px;
}

#yp-r-1 p2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#yp-r-1 p3 {
    color: #5F5F5F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.vdo-tu {
    width: 100%;
    height: 753px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(105deg, #FF83AA 1.38%, #787AFF 34.29%, #787AFF 61.41%, #79CCFF 97.96%);

}

#arrow-w {
    color: #FFF;
    margin-left: 14px;
    margin-top: 5px;
}

#text-header-w {
    color: #FFF;
    font-family: "Sukhumvit Set";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    margin-left: 70px;
    margin-top: 36px;
}

/* .cord-section {
    width: 100%;
    height: 507px;
    background-color: #FFFFFF;
} */

.chord-section {
    /* width: 100%; */
    height: 507px;
    /* max-width: 1200px; */
    margin-left: 68px;

}

#text-header {
    margin-top: 50px;
}

.chord-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.chord-section h2 span {
    margin-left: 5px;
    font-size: 24px;
    color: #787aff;
}

.chord-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 25px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    margin-top: 20px;

}

.chord-carousel::-webkit-scrollbar {
    display: none;
    /* สำหรับ Chrome, Safari และ Edge */
}


.chord-item {
    position: relative;
    height: 290px;
    min-width: 290px;
    flex-shrink: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chord-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.chord-info {
    width: 290px;
    height: 82px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(120, 122, 255, 0.9);
    color: #fff;
    border-radius: 15px;
}

.chord-carousel .artist-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.note-carousel .artist-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chord-text p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.chord-text span {
    font-size: 14px;
}













.note {
    height: 455px;
    background: #FFFFFF;
}



#vdo-tu {
    width: 373px;
    height: 553px;

    fill: rgba(145, 145, 145, 0.65);
    backdrop-filter: blur(17.5px);
}

/* tran-ly */

.tran-ly {
    width: 1441px;
    height: 541px;
    background-image: url(ct-pics/bg-tran.png);
}

.tran-ly #text-header {
    margin-top: 0;
    margin-left: 70px
}

#text-header h2 {
    font-size: 32px;
}

.tran-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 25px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    margin-top: 25px;
    margin-left: 70px
}

.tran-carousel::-webkit-scrollbar {
    display: none;
    /* สำหรับ Chrome, Safari และ Edge */
}


.tran-item {
    width: 290px;
    height: 372px;
    position: relative;

    flex-shrink: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tran-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tran-info {

    height: 110px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(100px);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    opacity: 90%;
    color: #000000;
    border-radius: 15px;
}



.tran-text p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.tran-text span {
    font-size: 14px;
    margin-top: 15px;
    bottom: 0;
}



/* note */

.note-section {
    /* width: 100%; */
    height: 507px;
    /* max-width: 1200px; */
    margin-left: 68px;

}

#text-header {
    margin-top: 50px;
}

.note-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.note-section h2 span {
    margin-left: 5px;
    font-size: 24px;
    color: #787aff;
}

.note-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 25px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    margin-top: 20px;

}

.note-carousel::-webkit-scrollbar {
    display: none;
    /* สำหรับ Chrome, Safari และ Edge */
}


.note-item {
    position: relative;
    height: 290px;
    min-width: 290px;
    flex-shrink: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chord-item:hover,
.note-item:hover{
    filter: brightness(0.8);
}

.note-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.note-info {
    width: 290px;
    height: 82px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(120, 122, 255, 0.9);
    color: #fff;
    border-radius: 15px;
}

.artist-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.note-text p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.note-text span {
    font-size: 14px;
}

.footer {
    height: 264px;
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}


#left p {
    font-weight: 400;
    font-size: 14px;
    color: #2F2F2F;
    margin-left: 18px;
    cursor: pointer;

}

#text-link {
    display: flex;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right img {
    margin-right: 27px;
}

@media screen and (max-width:960px) {

    #text,
    .container {
        display: none;
    }

    #menu {
        width: 100%;
    }

    #logo {
        height: 27.03px;
        width: 126.85px;
        background-image: url(pics/logo-menu-ph.png);
        margin-left: 17px;
    }

    #menu {
        height: 98px;
        border-radius: 0;
    }

    #wrapper {
        width: 100%;
    }

    #icon img {
        width: 37.32px;
        height: 37.32px;
    }

    #icon {
        position: absolute;
        left: 166px;
        top: 131px;
    }

    .post {
        height: 186px;
    }

    #post-box {
        width: 340px;
        height: 147px;
        margin: 0;
        margin-top: 24px;
        margin-left: 25px;

    }

    .profile-pic {
        width: 55px;
        height: 55px
    }

    .profile-section {
        height: 65px;

        align-items: flex-start;
    }

    .profile-section input {
        width: 258px;
        height: 38px;
        margin-top: 50;
    }

    .upload-options {
        width: 315px;
        margin: 0;
        margin: -12px;
        margin-top: 8px;
        padding: 0;
    }

    .post-button {
        margin-left: 40px;
    }

    .upload-button svg {
        width: 28px;
        height: 28px;

    }

    .for-you {
        height: 280px;
    }

    .your-playlist p1,
    #text-header-w p1,
    .note-section #text-header h2,
    .tran-ly #text-header h2,
    .chord-section #text-header h2,
    .for-you p1 {
        font-size: 22px;
        margin-left: 30px;
    }

    #fu-song1 img,
    #fu-song2 img,
    #fu-song3 img,
    #fu-song4 img,
    #fu-song5 img,
    #fu-song6 img {
        width: 156px;
        height: 156px;
        margin-left: -10px;

    }

    #fu-song1,
    #fu-song2,
    #fu-song3,
    #fu-song4,
    #fu-song5 {
        height: 280px;

    }
    #fu-song1 p2,
    #fu-song2 p2,
    #fu-song3 p2,
    #fu-song4 p2,
    #fu-song5 p2{
        font-size: 16px;
    }


    #fu-song1 {
        margin-left: 30px;
    }

    .your-playlist {
        height: 217px;
    }

    #yp-r-1 {
        width: 160px;
        height: 40px;
    }

    #yp-l-1 {
        width: 160px;
        height: 40px;
    }

    #yp-l-1 img {
        width: 40px;
        height: 40px;
    }
    #yp-r-1 img {
        width: 40px;
        height: 40px;
    }
    #yp-l-1 .text-container{
        margin-left: 5px;
    }
    #yp-l-1 .text-container p2{
        font-size: 13px;
    }
    #yp-l-1 .text-container p3{
        font-size: 10px;
    }
    #yp-r-1 .text-container{
        margin-left: 5px;
    }
    #yp-r-1 .text-container p2{
        font-size: 13px;
    }
    #yp-r-1 .text-container p3{
        font-size: 10px;
    }
   .top {
    height: 880px;
   }
   #vdo-tu-box img{
    width: 207.552px;
    height: 307.712px;
   }
   .vdo-tu{
    height: 419px;
   }
   #text-header-w{
    margin-top: 31px;
    margin-left: 0;

   }
   #vdo-tu-box {
    margin-top: 0;
    margin-left: 30px;
   }
   #arrow-w{
    margin-top: -4px;
   }
   .note-section, .chord-section{
    height: 280px;
    margin-left: 30px;
   }
   .note-item, .chord-item{
    width: 167.123px;
height: 167.699px;
min-width: unset;
   }
   .note-info, .chord-info{
    width: 167.123px;
height: 47.255px;
   }
   .chord-item .chord-info .chord-text p{
    font-size: 10px;
    margin-bottom: -5px;
   }
   .note-text p{
    font-size: 10px;
    margin-bottom: -5px;
   }
   .note-text span, .chord-text span {
    font-size: 10px;
}
.chord-carousel .artist-image{
    width: 28px;
    height: 28px;
}
.note-carousel .artist-image{
    width: 28px;
    height: 28px;
}
#text-header {
    margin-top: 20px;
}
.tran-ly {
    height: 385px;
    background-image: url(ct-pics/tran-bg-mobile.png);
}
.tran-item{
    width: 222.353px;
    height: 285.225px;
}
.chord-section #text-header h2{
    margin: 0;
}
.tran-ly #text-header{
    margin-left: 0px;
}
.tran-carousel{
    margin-left: 30px;
}
.tran-ly {
    width: 100%;
}
.footer {
    height: 264px;
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: flex-start;
    /* Align to the left */
    align-items: center;
    margin-top: 27px;
    margin-bottom: auto;
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    text-align: left;
    /* Align the text to the left */
    padding-left: 20px;
    /* Optional: add padding to the left */
}

#left,
#right {
    width: 100%;
    /* Ensure left and right elements take up full width */
}

#right {
    display: flex;
    justify-content: flex-start;
    /* Align icons to the left */
    align-items: center;
}

#right img {
    margin-right: 10px;
    /* Adjust icon spacing */
    width: 25px;
    margin-top: 10px;
}

#left p {
    font-size: 14px;
    color: #2F2F2F;
    cursor: pointer;
    margin-left: 0;
    /* Adjust margin as needed */
}

#text-link {
    flex-direction: column;
    /* Stack text links vertically */
    margin-top: 10px;
}

#left img {
    width: 139.826px;
    height: 30px;
    
}

#icon-ph {
    display: block;
    /* Ensure it's displayed */
    float: right;
    /* Float it to the right */
}

#icon-ph img {
    margin-right: 17px;
}

#menu {
    justify-content: space-between;
}
}